/* Navbar */
.home-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fbc02d;
  padding: 15px 40px;
  font-family: sans-serif;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #0d47a1;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  font-weight: bold;
  color: #0d47a1;
  cursor: pointer;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Hero section */
.hero-section {
  background-image: url('/src/assets/topp.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 80px;
  color: white;
  text-shadow: 1px 1px 2px #000;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero-content button {
  background-color: #fbc02d;
  color: #000;
  padding: 12px 25px;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #ffa000;
}
